

:root {
    --color-text: #0a0a0a;
    --color-text-secondary: #cd23e7;
    --color-bg: #E9E6E4;
    --color-bg-secondary:#cecece;
  }
  
  [data-theme=light] {
    --color-text: #0a0a0a;
    --color-text-secondary: #cd23e7;
    --color-bg: #E9E6E4;
    --color-bg-secondary:#cecece;
  }
  
  [data-theme=dark] {
    --color-text: #f0f0f0;
    --color-text-secondary: #cd23e7;
    --color-bg: #0a0a0a;
    --color-bg-secondary:#000000;
  }
  
  
  .infinite-slider {
    font-family: "Inconsolata", monospace;
    grid-area: a3;
    background-color: var(--color-text);
    border-bottom: solid 1px var(--color-text);
    border-top: solid 1px var(--color-text);
  }
  
  .marquee-horizontal {
    color: var(--color-bg);
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-animation: slider_k 15s linear infinite;
            animation: slider_k 15s linear infinite;
  }
  
  .marquee-horizontal:hover {
    -webkit-animation: slider_k 50s linear infinite;
            animation: slider_k 50s linear infinite;
  }
  
  @-webkit-keyframes slider_k {
    0% {
      text-indent: 1em;
    }
    100% {
      text-indent: -127.5em;
    }
  }
  
  @keyframes slider_k {
    0% {
      text-indent: 1em;
    }
    100% {
      text-indent: -127.5em;
    }
  }
  .infinite-slider:hover {
    background-color: #ff0000;
  }
  
  .section_cta{
    padding:50px;
    background-color:orange ;
    margin-bottom:50px
}
.section_cta div{
    display:flex;
    justify-content:center
}

.section_cta div svg{
    margin:0px 10px;
    width:140px;
    height:80px
}
@media screen and (min-width: 768px){
    .section_cta div svg{
        margin:0px 20px
    }
    .section_cta div{
        justify-content:center
    }
}
@media screen and (min-width: 1440px){
    .section_cta div svg{
        width:70%;
        margin:0px
    }
    
}
html body{
    margin:0px;
}
html .cta__btn:hover{
    transform:scale(0.9);
    transition:transform .5s ease;
}
html .header__section--off{
    margin-bottom:0px
}
h1{
    text-align: center;
}