body{
    background-color: black;
    overflow: hidden;
}
.text-1{
    color: rgb(18, 126, 161);
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    font-size: 50px;
    position: absolute; 
    top: 50%; left: 50%; 
    width: 500px;
    transform: translate3d(-50%, -50%, 0); 
}
.logo{
    position: absolute; 
    top: 50%; left: 50%; 
    width: 100%;
    transform: translate3d(-50%, -50%, 0); 
    opacity: 0;
}

.text-2{
    position: absolute;
    font-size: 60px;
    text-align: justify;
    width: 90%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) perspective(300px) rotateX(28deg);
    transform-origin: 50% 100%;
    color: yellow;
}