:root {
    --color-bg: #263859;
    --color-bg-offset: #EFEFEF;
    --color-text: #EFEFEF;
    --color-text-offset: #FCA4A4;
  }
  /* @media(prefers-color-scheme: dark){
    :root {
        --color-bg: #263859;
        --color-bg-offset: #EFEFEF;
        --color-text: #EFEFEF;
        --color-text-offset: #FCA4A4;
    }
  } */
  [data-theme='light']{
    --color-bg: #e3e3e3;
    --color-bg-offset: #323c59;
    --color-text: #EFEFEF;
    --color-text-offset: #FCA4A4;
    --color-primary: #BAC0CB; /* COULEUR FOND BOUTON*/
    --color-secondary: #080808;
    --logo-noir: hidden
  }
  [data-theme='dark']{
    --color-bg: #e3e3e3;
    --color-bg-offset: #323c59;
    --color-text: #EFEFEF;
    --color-text-offset: #FCA4A4;
    --color-primary: #BAC0CB; /* COULEUR FOND BOUTON*/
    --color-secondary: #080808;
  
  }
  html body{
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    overflow-y: hidden;
    overflow-x: hidden;
        font-family: 'Space Mono', monospace;
  }
  .box p{
    color: #EFEFEF;
    text-align:center;
  }
  .box{
    padding:20px;
    text-align:center;
    align-items:baseline;
    justify-content:space-evenly
  }
  
  
  .box__el{
    margin:30px 0px;
    padding:30px 20px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center
  }
  .box__el .icon{
    display:flex;
    justify-content:center;
    align-items:baseline;
    margin-bottom: 50px;
  }
  /*.box__el .icon svg{
      width:40%
  }*/
  
  /* .image-anime{
    transform: translate(-150px 0);
  }
  
   */
  
  .section_cta{
    padding:60px;
    background-color:#FCA4A4 ;
    margin-bottom:50px;
    margin-top: 180px;
  }
  .section_cta div{
    display:flex;
    justify-content:center
  }
  
  .section_cta div svg{
    margin:0px 10px;
    width:140px;
    height:80px
  }
  
  html body{
    margin:0px;
  }
  html .cta__btn:hover{
    transform:scale(0.9);
    transition:transform .5s ease;
  }
  html .header__section--off{
    margin-bottom:0px
  }
  .h1-download{
    text-align: center;
    color: #080808;
  }
  
  .div3, .div2{
    text-align: center;
  }
  .image-mobile{
    width: 100%;
  }
  .marg-bot--20{
    margin-bottom: 100px;
  }    
  a{
    text-decoration: none;
    color: var(--color-text);
    list-style: none;
  }
   
  .infinite-slider {
    font-family: "Inconsolata", monospace;
    grid-area: a3;
    background-color: #FCA4A4;
    border-bottom: solid 1px #080808;
    border-top: solid 1px #080808;
    margin-top: 50px;
  }
  
  .marquee-horizontal {
    color: #080808;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: slider_k 15s linear infinite;
  }
  
  @-webkit-keyframes slider_k {
    0% {
      text-indent: 1em;
    }
    100% {
      text-indent: -127.5em;
    }
  }
  @keyframes slider_k {
    0% {
      text-indent: 1em;
    }
    100% {
      text-indent: -127.5em;
    }
  }
  .slide-link {
    font-family: "Staatliches";
    overflow: hidden;
    position: relative;
    color: #222;
  }
  .slide-link span {
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease-out;
  }
  .slide-link span:nth-child(2){
    position: absolute;
    width: 100%;
    text-align: center;
    left: 140%;
  }
  .slide-link:hover span {
    transform: translateX(-140%);
  }
  .actif {
    text-decoration: underline ;
  }
  .two-lines {
    font-size: 30px;
    position: relative;
    color: #222;
  }
  .two-lines::before,
  .two-lines::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #222;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
  }
  .two-lines::before {
    width: 20%;
    bottom: 0;
  }
  .two-lines::after {
    width: 10%;
    bottom: -7px;
  }
  
  .two-lines:hover::before,
  .two-lines:hover::after {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
  .two-lines::before,
  .two-lines:hover::after {
    transition-delay: 0.1s;
  }
  .two-lines:hover::before {
    transition-delay: 0s;
  }
  .overlay-content--1, .overlay-content--2, .overlay-content--3, .overlay-content--4{
    margin-bottom: 15px;
  }
   
  
  .hero_area {
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, #263859 50%, #EFEFEF 45%);
  }
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  .custom_menu-btn {
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 14px;
  }
  .custom_menu-btn button {
    margin-top: 12px;
    outline: none;
    border: none;
    background-color: transparent;
  }
  .custom_menu-btn span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #080808;
    margin: 7px 0;
    transition: all .3s;
  }
  .menu_btn-style button {
    position: fixed;
    right: 29px;
    top: 14px;
  }
  .menu_btn-style button .s-1 {
    transform: rotate(45deg) translateY(17px);
  }
  .menu_btn-style button .s-2 {
    transform: translateX(100px);
  }
  .menu_btn-style button .s-3 {
    transform: rotate(-45deg) translateY(-17px);
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(252,164,164,0.62);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay a {
    padding: 0px;
    color: #080808;
    display: block;
    transition: 0.3s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .menu_width {
    width: 100%;
  }
  .navbar-brand span {
    text-transform: uppercase;
    font-weight: 700;
    color: #FCA4A4;
    margin-top: 5px;
    margin-left: 13px;
  }
  .custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
  }
  .slider_section {
    display: flex;
    align-items: center;
    height: calc(100% - 75px);
    padding: 50px 0;
  }
  .slider_section .row {
    align-items: center;
    position: unset;
  }
  .slider_section .detail-box h2 {
    font-weight: normal;
    margin-top: 25px;
  }
  
  .slider_section .detail-box h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #FCA4A4;
    margin-top: 55px;
  }
  .slider_section .detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #EFEFEF;
    color: #080808;
    border-radius: 0;
    text-transform: uppercase;
    margin-top: 55px;
  }
  .h2--landing{
    color: #EFEFEF;
  }
  .img-m{
    width: 300%; 
    margin-top: 400px;
    transform: translate(-250px, 10px);
  }
  
  
  
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #EFEFEF;
    text-align: left;
    background-color: #263859;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-md-5, .col-md-7  {
    /* position: relative; */
    width: 100%;
    /* padding-right: 15px; */
    padding-left: 15px;
  }
  
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .position-relative {
    position: relative;
  }
  html body{
    margin:0px;
  }
  .slide-link {
    font-family: "Staatliches";
    overflow: hidden;
    position: relative;
    color: #222;
  }
  .slide-link span {
    padding: 10px;
    display: inline-block;
    transition: transform 0.3s ease-out;
  }
  .slide-link span:nth-child(2){
    position: absolute;
    width: 100%;
    text-align: center;
    left: 140%;
  }
  .slide-link:hover span {
    transform: translateX(-140%);
  }
  body{
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Krub', sans-serif;
    line-height: 30px;
    overflow-x: hidden;
    max-width: 100ch;
  }
  /*slider */
  .wrapper, .wrap__proto {
    height: 680px;
    width: 100%;
    margin-bottom: 90px;
    margin: 100px auto 0;
    position: relative;
  }
  
  .slides {
    height: inherit;
    opacity: 0;
    margin-top: 10px;
    position: absolute;
    width: inherit;
  }
  .proto__audit{
    height: 920px;
    width: 320px;
  }
  .slides__content {
    padding: 10px 30px;
  }
  #slide1:checked~.slider>.slide1,
  #slide2:checked~.slider>.slide2,
  #slide3:checked~.slider>.slide3{
    opacity: 1;
    z-index: 1;
  }
  .wrapper>input {
    display: none;
  }
  .wrapper .controls {
    text-align: center;
    position: relative;
    top: -84px;
    z-index: 100;
    margin-top: 25px;
  }
  
  .wrapper label {
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    margin: 0px 0px 0 15px;
    width: 30px;
    background: var(--color-bg);
    margin-top: 450px;
  }
  
  
  .wrapper label:hover,
  #slide1:checked~.controls label:nth-of-type(1),
  #slide2:checked~.controls label:nth-of-type(2),
  #slide3:checked~.controls label:nth-of-type(3) {
    background: var(--color-text-offset);
    opacity: 1;
  }
  
  
  
  
  .slider_section .detail-box a:hover {
    background-color: #FCA4A4;
    color: #080808;
  } 
  .parent-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0 25px;
    }
      
  /*.div1 { grid-area: 1 / 2 / 2 / 4; }
  .div2 { grid-area: 1 / 4 / 4 / 7; }
  .div3 { grid-area: 4 / 4 / 6 / 7; }
  .div4 { grid-area: 6 / 1 / 7 / 7; }*/
  
  .div1-2{
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .div2-2{
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .div3-2{
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .div4-2{
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .div5-2{
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
  }
  .marg-bot{
    margin-bottom: 100px;
  }
  /*Police*/
  h1{
    font-size: 43px;
    font-family: 'Ubuntu Mono', monospace;
  }
  h2{
    font-size: 31px;
    font-family: 'Ubuntu Mono', monospace;
  }
  h3{
    font-size: 22px;
    font-family: 'Ubuntu Mono', monospace;
  }
  p{
    font-size: 16px;
  }
  .l{
    font-size: 11px;
    font-family: 'Ubuntu Mono', monospace;
  }
  .l-grand{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
  }
  .content__scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    grid-column: 1 / -1;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .marg-top{
    margin-top: 280px;
  }
  
  
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    /* padding: 40px 100px; */
    z-index: 10000;
  }
  header.sticky{
    padding: 5px 100px;
    background-color: #FCA4A4;
  }
  header .logo{
    position: relative;
    font-weight: 700;
    color: #EFEFEF;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li{
    position: relative;
    list-style: none;
  }
  header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EFEFEF;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  header.sticky ul li a{
    color: #080808;
  }
  .p-marg{
    margin-top: 1500px;
  }
  .slide-line {
    text-decoration: none;
  }
  header ul li a::before {
    content: "";
    position: absolute;
    background: #EFEFEF;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  header ul li a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  header.sticky ul li a::before {
    content: "";
    position: absolute;
    background: #080808;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  header.sticky ul li a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  .marg-start{
    margin-top: 200px;
  }
  /* POLICE */ 
  .ui__h1{
    font-size: 43px;
  }
  .ui__h2{
    font-size: 31px;
  }
  .ui__h3{
    font-size: 22px;
  }
  .ui__legende{
    font-size: 11px;
  }
  .ui__p{
  font-size: 16px;
  }
  /* FIN POLICE */
  .t__police--ui{
  display: none;
  }
  .d__police--ui{
  display: none;
  }
  .textes-ui ul li{
    list-style: none;
    padding: 0 25px;
  }
  .textes-ui {
    padding: 0 25px;
  }
  .textes-ui-2 {
    margin: 0 25px;
  }
  .textes-ui-2 ul li {
    list-style: none;
  }
  .marg-text--ui{
    margin-bottom: 15px;
  }
  .marg-h1--ui{
    margin-bottom: 125px;
  }
  .element-ui{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .two-lines--ui {
    font-size: 30px;
    position: relative;
    color: #EFEFEF;
  }
  /* .col-ui--bleu{
    background-color: red;
    border-radius: 8px;
    width: 70px;
    height: 40px;
  } */
  .col-ui--bleu{
    border: solid 1px #EFEFEF;
    border-radius: 8px;
    color: #EFEFEF;
    background-color: #263859;
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  .col-ui--noir{
    color: #EFEFEF;
    background-color: #080808;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  .col-ui--rose{
    color: #080808;
    background-color: #FCA4A4;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  .col-ui--blanc{
    color: #080808;
    background-color: #EFEFEF;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  .col-ui--gris{
    color: #080808;
    background-color: #BAC0CB;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 19px;
  }
  
  .two-lines--ui::before,
  .two-lines--ui::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #EFEFEF;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.2s ease-in-out;
  }
  .two-lines--ui::before {
    width: 100%;
    bottom: 0;
  }
  .two-lines--ui::after {
    width: 50%;
    bottom: -7px;
  }
  .pad-25{
    padding: 0 25px;
  }
  .two-lines--ui:hover::before,
  .two-lines--ui:hover::after {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
  
  .two-lines--ui::before,
  .two-lines--ui:hover::after {
    transition-delay: 0.1s;
  }
  .two-lines--ui:hover::before {
    transition-delay: 0s;
  }
  
  /* DESKTOP */
  
  /* footer */
  .footer__list {
      list-style: none;
      margin: 0 0 30px 0;
      display: flex;
      padding: 0px;
  }
  .footer__item {
      border: none;
      padding: 0 15px;
      border-right: 1px solid #EFEFEF;
    margin-top: 20px;
  }
  .footer__item:last-child {
      border: none;
  }
  .dwm {
      width: 80px;
      position: relative;
      display: inline-block;
      overflow: hidden;
  }
  .reseaux{
    list-style: none;
      margin: 0 0 30px 0;
      display: flex;
  }
  .reseaux__image{
      width: 60px;
      height: 60px;
  }
  .section__footer {
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--color-text);
  }
  /* FIN FOOTER*/
  
  svg {
    fill: var(--color-text);
  }
  ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #EFEFEF;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  ul li a::before {
    content: "";
    position: absolute;
    background: #EFEFEF;
    width: 100%;
    height: 3px;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
  }
  
  ul li a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
  }
  
  .p-landing{
    text-align: center;
  }
  .img-landing{
    width: 100%;
    height: 100%;
  }
  @media only screen and (min-width: 560px) {
    .wrapper label{
      transform: translate(-100px, 600px);
      display: flex;
      margin-top: 20px;
    }
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media screen and (min-width: 700px){
    .div1-2{
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
    }
    .div2-2{
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
    }
    .div3-2{
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 2;
    }
    .div4-2{
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 3;
    }
    .div5-2{
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 4;
      width: 100%;
    }
    .div5-user-2{
      grid-column-end: 6;
      grid-row-start: 3;
      width: 100%;
    }
    .div4-user-2{
      grid-column-start: 3;
      grid-column-end: 6;
      grid-row-start: 5;
    }
    .div6-2{
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 6;
      width: 100%;
    }
    .marg-bot{
        margin-bottom: 180px;
    }
    /*Police*/
    h1{
      font-size: 49px;
    }
    h2{
      font-size: 35px;
    }
    h3{
      font-size: 25px;
    }
    p{
      font-size: 18px;
    }
    .l{
      font-size: 13px;
    }
  }
  @media screen and (min-width: 768px){
    .box{
      flex-flow:row nowrap;
      display:flex;
      margin-bottom:70px
    }
    .section_cta div svg{
      margin:0px 20px
    }
    .section_cta div{
      justify-content:center
    }
    .parent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 18px;
      grid-row-gap: 0px;
    }
    .div3{
      grid-row-start: 1;
      grid-column-start: 3;
      text-align: end;
    }
    .div2{
      grid-row-start: 1;
      grid-column-start: 2;
      text-align: inherit;
    }
    .image-mobile{
      width: 200%;
    }
    body{
      max-width: 105ch;
    }
    .container {
      max-width: 720px;
    }
    .col-md-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .element-ui2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      padding: 0;
      flex-wrap: nowrap;
      align-content: space-around;
      align-items: center;
    }
    /* UI KIT */
    .m__police--ui{
      display: none;
    }
    .t__police--ui{
      display: inherit;
    }
    .footer__item {
      padding: 0 50px;
    }
    .mockup-landing { 
      display: flex;
      padding: 35px;
      /* justify-content: space-between; */
      /* flex-wrap: nowrap; */
      flex-direction: row-reverse;
    }
    .mockup-landing-2 { 
      display: flex;
      padding: 35px;
    }
    .img-landing{
      width: 40%;
      height: 100%;
    }
    .p-landing{
      margin-top: 75px;
    }
  }
  @media (max-width: 768px) {
    .hero_area {
      background: linear-gradient(to bottom, #263859 50%, #EFEFEF 45%);
    }
    .hero_area {
      height: auto;
    }
    .custom_menu-btn span {
      background-color: #1d1e31;
    }
    .menu_btn-style button span {
      background-color: #fff;
    }  
  }
  @media (min-width: 769px) {
    .img-m{
      margin-top: 20px;
      transform: translate(80px, -530px);
    }
    .slider_section .detail-box h1 {
      margin-top: 55px;
      transform: translate(0px, 950px);
    }
    .down{
      margin-top: 1100px;
    }
    .slider_section .detail-box h2 {
      margin-top: 25px;
      transform: translate(0px, 970px);
    }
    .wrapper label{
      transform: translate(320px, -250px);
    }
  }
    /* DESKTOP */
    @media only screen and (min-width: 990px) {
      body{
        max-width: 100%;
      }
      .img-m{
        height: 18%;
        width: auto;
        transform: translate(-10px, -750px);
      }
      .slider_section .detail-box h1{
        transform: translate(0px, 820px);
      }
      .slider_section .detail-box h2{
        transform: translate(0px, 850px);
      }
      .slider_section .detail-box a{
        transform: translate(0px, -145px);
      }
    
      /* slider */
      .slides, .slides__prot {
        display: flex;
      }
      .wrapper, .wrap__proto {
        position: relative;
        top: 58px;
        margin: 0px;
        height: 530px;
        margin-top: 40px;
        margin-bottom: 170px;
      }
      .wrapper label {
        transform: translate(300px, -400px);
      } 
      .slides__content, .slides__content--pro {
        padding-right: 135px;
        position: relative;
        left: 72px;
        top: 55px;
        padding-left: 50px;
        max-width: 440px;
      }
      .p-landing{
        margin-top:115px;
      }
      .img-landing{
      width: 40%;
      }
      .ui__h1{
        font-size: 50px;
      }
      .ui__h2{
        font-size: 36px;
      }
      .ui__h3{
        font-size: 26px;
      }
      .ui{
        margin-bottom: 100px;
      }
      .d{
        grid-column-start: 3;
        display: flex;
      }
      .d ul li{
        margin-right: 150px;
      }
      .d2 ul li{
        margin-right: 0px;
      }
      .m__police--ui{
        display: none;
      }
      .t__police--ui{
        display: none;
      }
      .d__police--ui{
        display: hidden;
      }
    }
    @media screen and (min-width: 900px){
      .div5-d-2{
        grid-column-start: 3;
        width: 90%;
      }
      /*Police*/
      h1{
        font-size: 50px;
      }
      h2{
        font-size: 36px;
      }
      h3{
        font-size: 26px;
        position: sticky;
        top: 150px;
      }
      p{
        font-size: 19px;
      }
      .l{
        font-size: 14px;
      }
    }
  
  @media only screen and (min-width: 992px) {
    .img-m{
        height: 21%;
        width: auto;
        transform: translate(120px, -780px);
    }
      .wrapper label {
        transform: translate(480px, -405px);
      } 
      .container {
        max-width: 960px;
      }
    }
    @media only screen and (min-width: 1200px) {
      .img-m{
        height: 22%;
        width: auto;
        transform: translate(250px, -800px);
      }
      .wrapper label {
        transform: translate(600px, -425px);
      } 
      .container {
        max-width: 1140px;
      }
    }
    @media screen and (min-width: 1440px){
      .section_cta div svg{
        width:70%;
        margin:0px
      }
      .box{
        padding:90px
      }
      /*.box__el .icon svg{
        width:40%
      }*/
      .box p{
        max-width:350px
      }
    }
    @media screen and (min-width: 2260px){
      .box{
        margin-top:150px;
      }
      .box__el .icon svg{
        width:60%
      }
      .box p{
        max-width:400px
      }
    }